.form form{
    display: flex;
    flex-direction: column;
    background-color: orange;
    align-items: center;
    padding-right: 125px;
}

.form form label{ 
    text-align: right;
    display: inline-block;
    width: 150px;
}

.add-btn{
    margin-left: 150px;
}