form{
    display: flex;
    flex-direction: column;
    background-color: rgb(78, 59, 23);
    align-items: center;
    padding-right: 125px;
}

.updform label{ 
    text-align: right;
    display: inline-block;
    width: 150px;
}

.add-btn{
    margin-left: 150px;
}

.stat{
margin-left: 150px;
}